.link
  font-family: $title-font
  font-size: 18px
  font-weight: bold
  color: $dark-gray
  text-transform: uppercase
  transition: $transition
  margin-right: 25px
  &:hover
    text-decoration: none
    color: $dark-gray

.active
  font-size: 24px


.wrapper
  margin-bottom: 20px


.search
  background: $background
  border: none
  border-bottom: 1px solid $dark-gray
  transition: $transition
  min-width: 350px
  margin-left: 15px
  &:focus
    transition: $transition
    border-bottom: 1px solid $accent
    outline: none

